/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 */
@import "bootstrap.css";

body {
	background-color: #fff;
	font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
	font-weight: 300;	
}

h2 {
	font-size:20px;
	margin-bottom: 0rem;
}

p {
	margin-bottom: 0rem;
}

.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Muli', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;
}


/* Navbar styles */

.navbar {
	font-family: 'Muli', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;

	.navbar-nav > li > a {
		color: #222;
	}

	.navbar-link {
		color: #222;
	}

	.navbar-brand {
		color: #222;
		letter-spacing: 1.1px;
	}

}

.beta {
	font-size: 10px;
	vertical-align: top;
}
/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #0a8fd5;
	}
}


/* Message styles */

.message {
	box-sizing: border-box;
	background-color: #383838;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 1.4em 1.4em;
	height: 150px;
	border-bottom: 4px solid #0a8fd5;

	.message-title {
		font-size: 1.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		margin-top: 0;
		color: white;
		margin-bottom: 25px;
	}

	.btn-custom {
		margin-top: 20px;
	}

}

.message:nth-child(4n) {
	clear: left;
}

/* Message show-page styles */

.message-show {
	box-sizing: border-box;
	background-color: #f7f7f7;
	padding: 2.0em 1.5em;
	border-bottom: 4px solid #0a8fd5;
	color: #000;
	font-family: 'Muli', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.message-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.message-posted-by {
		color: #8E8E8E;
		font-size: 0.9em;
	}

	.reply-to-msg {
		margin-top: 50px;
	}

}


/* Comment styles */

.comment {
	border-bottom: 1px solid #8E8E8E;
	padding-top: 15px;
	padding-bottom: 15px;

	.comment-content {
		font-size: 1.25em;
	}	

	.comment-posted-by {
		color: #8E8E8E;
		font-size: 0.8em;
	}

	.links {
		margin-top: 15px;
		a {
			color: #0a8fd5;
			margin-right: 15px;
		}
	}
}

.post-nav {
	margin-bottom: 1rem;
}
.post-nav a {
	margin-right: 10px
}

.col-fixed-250{
    width: 210px;
    position: fixed;
    height: 100%;
    z-index: 1;
	float: right;
	border-right: 1.5px solid #F7F7F7;
}

.col-offset-250{
    padding-left:225px;
    z-index:0;
}
.right-sidebar {
	padding-left: 15px;
} 

.user-title {
	font-weight: bold;	
}

.navbar-nav li {
	margin-right: 50px;
}

.footer {
	height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #F7F7F7;
}
.footer p {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.user-block {
	position: relative;
}

.profile, .user-nav {
     display: inline-block;   
	 top: 0;
	 z-index: 1;
}
.profile {
	vertical-align: text-bottom;
}
.user-nav {
	padding-left: 8px;
}

.liked-posts {
	font-size: 15px;
	padding-top: 10px;
}

.unlike {
	color: red;
}


.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}
