<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <%= link_to "Coinoid", root_path, class: "navbar-brand" %> <p class="beta" style="margin-right: 150px;">beta</p>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="https://coinoid-original-akmalu21.c9users.io/follow">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gigs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Marketplace</a>
      </li>
    </ul>
    <%= form_tag posts_path, method: :get do %>
    <%= text_field_tag :q, nil, placeholder: "Search" %>
    <% end %>
  </div>
</div>
